In [1]:
import numpy as np

import pandas as pd

In [17]:
df = pd.read_csv("country_all.csv")

In [18]:
df.head()

,Unnamed: 0,geometry_type,coordinates,calculatedAt,created,from,to,parameterId,qcStatus,timeResolution,value,type,ID
0,0,Point,"[11.7644, 55.9594]",2018-11-21T11:55:28.157000,2021-10-25T09:22:38.182857+00:00,2014-12-09T00:00:00.001000+01:00,2014-12-10T00:00:00+01:00,no_summer_days,manual,day,0.0,Feature,2027729c-c353-71eb-cb26-66dd48ec6fae
1,1,Point,"[11.7644, 55.9594]",2016-11-17T15:43:15.559000,2021-10-25T09:22:38.168998+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,temp_soil_30,none,hour,4.9,Feature,37dad45e-41a9-b3f6-4ace-58e609ffa49e
2,2,Point,"[11.7644, 55.9594]",2016-11-17T14:55:15.433000,2021-10-25T09:22:38.156281+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,temp_grass,none,hour,0.1,Feature,395c0cb3-61b2-82c8-3f7e-e460dbacda92
3,3,Point,"[11.7644, 55.9594]",2018-01-04T12:08:57.949000,2021-10-25T09:22:38.172761+00:00,2014-12-09T00:00:00.001000+01:00,2014-12-10T00:00:00+01:00,acc_precip,manual,day,0.7,Feature,451b54c8-4e88-9d60-660c-394dee202857
4,4,Point,"[11.7644, 55.9594]",2016-11-17T15:57:27.574000,2021-10-25T09:22:38.171461+00:00,2014-12-09T00:00:00.001000+01:00,2014-12-10T00:00:00+01:00,mean_pressure,manual,day,1018.9,Feature,4cf4c8da-3c91-1a1b-1dd1-0f7c40471da2

In [19]:
df.drop("Unnamed: 0",axis=1,inplace=True)
df.drop("geometry_type",axis=1,inplace=True)
df.drop("coordinates",axis=1,inplace=True)
df.drop("calculatedAt",axis=1,inplace=True)
df.drop("created",axis=1,inplace=True)
df.drop("from",axis=1,inplace=True)
df.drop("ID",axis=1,inplace=True)
df.drop("type",axis=1,inplace=True)
df.drop("qcStatus",axis=1,inplace=True)

In [20]:
df.sort_values(by="to",inplace=True)

In [21]:
df.head()

                               to          parameterId timeResolution  value
967388  2011-01-01T00:00:00+00:00  max_wind_speed_3sec           hour   27.4
967449  2011-01-01T00:00:00+00:00             min_temp           hour    1.4
967446  2011-01-01T00:00:00+00:00      bright_sunshine           hour    0.0
967442  2011-01-01T00:00:00+00:00        mean_wind_dir           hour  269.0
967457  2011-01-01T00:00:00+00:00           acc_precip           hour    0.2

In [22]:
df.tail()

                                to         parameterId timeResolution  value
382986   2023-01-01T00:00:00+01:00     mean_wind_speed           year    5.1
382987   2023-01-01T00:00:00+01:00  no_tropical_nights           year    0.0
382991   2023-01-01T00:00:00+01:00         no_ice_days           year    0.0
382996   2023-01-01T00:00:00+01:00            min_temp           year   -8.7
1007131  2023-01-01T06:00:00+00:00          snow_depth           year   12.0

In [23]:
df.to_csv("Countries_processed.csv")

In [13]:
df=pd.read_csv("Countries_processed.csv")

In [15]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [18]:
df.timeResolution.unique()

array(['hour', 'day', 'month', 'year'], dtype=object)

In [19]:
df

                                to          parameterId timeResolution  value
0        2011-01-01T00:00:00+00:00  max_wind_speed_3sec           hour   27.4
1        2011-01-01T00:00:00+00:00             min_temp           hour    1.4
2        2011-01-01T00:00:00+00:00      bright_sunshine           hour    0.0
3        2011-01-01T00:00:00+00:00        mean_wind_dir           hour  269.0
4        2011-01-01T00:00:00+00:00           acc_precip           hour    0.2
...                            ...                  ...            ...    ...
1672686  2023-01-01T00:00:00+01:00      mean_wind_speed           year    5.1
1672687  2023-01-01T00:00:00+01:00   no_tropical_nights           year    0.0
1672688  2023-01-01T00:00:00+01:00          no_ice_days           year    0.0
1672689  2023-01-01T00:00:00+01:00             min_temp           year   -8.7
1672690  2023-01-01T06:00:00+00:00           snow_depth           year   12.0

[1672691 rows x 4 columns]

In [20]:
df_hour = df.loc[df["timeResolution"]=="hour"]
df_day = df.loc[df["timeResolution"]=="day"]
df_month = df.loc[df["timeResolution"]=="month"]
df_year = df.loc[df["timeResolution"]=="year"]

In [21]:
df_hour.parameterId.unique()

array(['max_wind_speed_3sec', 'min_temp', 'bright_sunshine',
       'mean_wind_dir', 'acc_precip', 'mean_relative_hum',
       'mean_wind_speed', 'max_wind_speed_10min', 'mean_temp',
       'max_temp_w_date', 'mean_pressure', 'mean_radiation',
       'temp_soil_10', 'temp_grass', 'temp_soil_30', 'mean_cloud_cover',
       'vapour_pressure_deficit_mean', 'leaf_moisture'], dtype=object)

In [22]:
df_day.parameterId.unique()

array(['mean_temp', 'bright_sunshine', 'no_frost_days', 'acc_precip',
       'no_days_acc_precip_1', 'drought_index', 'no_days_acc_precip_01',
       'acc_heating_degree_days_17', 'max_wind_speed_3sec',
       'mean_wind_dir', 'mean_pressure', 'no_summer_days',
       'mean_wind_speed', 'mean_relative_hum', 'min_temp',
       'max_temp_w_date', 'pot_evaporation_penman',
       'no_days_acc_precip_10', 'no_tropical_nights',
       'corrected_acc_precip', 'max_wind_speed_10min',
       'mean_daily_max_temp', 'max_precip_30m', 'pot_evaporation_makkink',
       'no_ice_days', 'snow_depth', 'mean_radiation', 'temp_soil_30',
       'temp_soil_10', 'temp_grass', 'mean_cloud_cover',
       'vapour_pressure_deficit_mean', 'leaf_moisture', 'no_cold_days',
       'mean_daily_min_temp'], dtype=object)

In [23]:
df_month.parameterId.unique()

array(['pot_evaporation_penman', 'mean_daily_max_temp', 'no_summer_days',
       'max_wind_speed_10min', 'max_precip_30m', 'min_temp', 'mean_temp',
       'max_temp_w_date', 'mean_wind_dir', 'max_wind_speed_3sec',
       'mean_wind_speed', 'pot_evaporation_makkink', 'no_frost_days',
       'corrected_acc_precip', 'acc_heating_degree_days_17',
       'mean_relative_hum', 'bright_sunshine', 'acc_precip',
       'mean_pressure', 'mean_radiation', 'no_ice_days', 'snow_depth',
       'drought_index', 'no_days_acc_precip_10', 'no_days_acc_precip_01',
       'no_days_acc_precip_1', 'temp_soil_10', 'temp_soil_30',
       'temp_grass', 'leaf_moisture', 'mean_cloud_cover',
       'mean_daily_min_temp', 'no_tropical_nights',
       'vapour_pressure_deficit_mean', 'no_cold_days'], dtype=object)

In [24]:
df_year.parameterId.unique()

array(['max_wind_speed_10min', 'corrected_acc_precip',
       'pot_evaporation_penman', 'max_wind_speed_3sec', 'no_frost_days',
       'no_ice_days', 'mean_wind_speed', 'mean_radiation',
       'acc_heating_degree_days_17', 'no_summer_days', 'drought_index',
       'max_temp_w_date', 'bright_sunshine', 'acc_precip',
       'mean_wind_dir', 'mean_temp', 'min_temp', 'mean_daily_max_temp',
       'pot_evaporation_makkink', 'mean_pressure', 'mean_relative_hum',
       'max_precip_30m', 'snow_depth', 'no_days_acc_precip_01',
       'no_days_acc_precip_10', 'no_days_acc_precip_1', 'temp_soil_10',
       'temp_grass', 'temp_soil_30', 'leaf_moisture', 'mean_cloud_cover',
       'vapour_pressure_deficit_mean', 'mean_daily_min_temp',
       'no_tropical_nights', 'no_cold_days'], dtype=object)

### Change into parameterId as columns

In [28]:
df_hour.pivot(index="to",columns="parameterId", values="value")

parameterId,acc_precip,bright_sunshine,leaf_moisture,max_temp_w_date,max_wind_speed_10min,max_wind_speed_3sec,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_dir,mean_wind_speed,min_temp,temp_grass,temp_soil_10,temp_soil_30,vapour_pressure_deficit_mean
to,,,,,,,,,,,,,,,,,,
2011-01-01T00:00:00+00:00,0.2,0.0,NaN,5.2,21.8,27.4,NaN,1005.1,NaN,91.7,3.4,269.0,11.9,1.4,NaN,NaN,NaN,NaN
2011-01-01T01:00:00+00:00,0.2,0.0,NaN,4.9,22.1,27.3,NaN,1004.1,NaN,89.8,3.4,273.0,11.9,1.5,NaN,NaN,NaN,NaN
2011-01-01T02:00:00+00:00,0.1,0.0,NaN,4.8,21.9,28.5,NaN,1003.4,NaN,88.5,3.4,278.0,11.7,1.6,NaN,NaN,NaN,NaN
2011-01-01T03:00:00+00:00,0.0,0.0,NaN,4.8,22.5,30.4,NaN,1003.1,NaN,86.4,3.4,282.0,11.4,1.7,NaN,NaN,NaN,NaN
2011-01-01T04:00:00+00:00,0.0,0.0,NaN,5.5,21.2,25.6,NaN,1003.0,NaN,84.1,3.4,285.0,11.5,1.7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-12T13:00:00+00:00,0.0,31.6,2.3,16.9,16.6,21.8,48.0,1012.6,591.6,61.7,13.7,252.0,8.4,8.9,16.1,11.7,10.2,0.6
2022-05-12T14:00:00+00:00,0.0,24.0,2.3,17.4,14.1,18.8,64.0,1012.7,462.0,63.0,13.6,253.0,8.6,10.1,15.4,11.9,10.2,0.6
2022-05-12T15:00:00+00:00,0.0,27.6,2.1,17.1,14.9,17.9,58.0,1012.9,444.1,63.8,13.4,255.0,8.6,10.5,15.1,11.9,10.3,0.6
2022-05-12T16:00:00+00:00,0.0,25.5,1.5,16.9,14.4,17.6,52.0,1012.9,340.9,65.3,13.0,258.0,8.4,10.3,14.3,12.0,10.4,0.5
2022-05-12T17:00:00+00:00,0.0,32.4,2.6,15.7,14.4,18.7,44.0,1012.9,264.6,66.8,12.5,261.0,7.7,10.1,13.4,11.9,10.4,0.5

In [29]:
df_day.pivot(index="to",columns="parameterId", values="value")

parameterId,acc_heating_degree_days_17,acc_precip,bright_sunshine,corrected_acc_precip,drought_index,leaf_moisture,max_precip_30m,max_temp_w_date,max_wind_speed_10min,max_wind_speed_3sec,...,no_ice_days,no_summer_days,no_tropical_nights,pot_evaporation_makkink,pot_evaporation_penman,snow_depth,temp_grass,temp_soil_10,temp_soil_30,vapour_pressure_deficit_mean
to,,,,,,,,,,,,,,,,,,,,,
2011-01-02T00:00:00+01:00,14.8,0.5,5.6,0.6,0.0,NaN,1.3,5.5,22.5,30.4,...,0.00,0.0,0.0,0.3,0.0,NaN,NaN,NaN,NaN,NaN
2011-01-02T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,127.0,NaN,NaN,NaN,NaN
2011-01-03T00:00:00+01:00,18.8,0.0,5.5,0.0,0.0,NaN,0.1,3.5,9.8,13.8,...,0.11,0.0,0.0,0.3,0.0,NaN,NaN,NaN,NaN,NaN
2011-01-03T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,124.0,NaN,NaN,NaN,NaN
2011-01-04T00:00:00+01:00,20.7,0.2,4.3,0.2,0.0,NaN,1.1,2.8,10.2,14.9,...,0.71,0.0,0.0,0.2,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-09T00:00:00+02:00,7.1,0.0,14.2,0.0,9.9,161.4,0.1,18.5,11.5,16.6,...,0.00,0.0,0.0,4.2,6.8,NaN,10.9,10.6,9.8,0.5
2022-05-10T00:00:00+02:00,5.6,0.0,13.3,0.0,10.0,180.1,0.1,19.5,12.0,14.6,...,0.00,0.0,0.0,4.2,6.8,NaN,12.0,10.7,9.9,0.6
2022-05-11T00:00:00+02:00,4.3,4.4,1.3,4.7,9.6,291.2,7.4,21.8,14.1,18.6,...,0.00,0.0,0.0,1.4,2.1,NaN,12.5,11.0,10.2,0.3
2022-05-12T00:00:00+02:00,5.8,4.4,1.0,4.7,9.2,555.0,10.4,18.6,13.1,15.9,...,0.00,0.0,0.0,1.6,1.5,NaN,11.2,10.8,10.2,0.2
2022-05-13T00:00:00+02:00,5.6,2.0,7.8,2.1,9.1,NaN,4.7,17.4,17.7,21.9,...,0.00,0.0,0.0,3.4,4.2,NaN,NaN,NaN,NaN,0.3

In [30]:
df_month.pivot(index="to",columns="parameterId", values="value")

parameterId,acc_heating_degree_days_17,acc_precip,bright_sunshine,corrected_acc_precip,drought_index,leaf_moisture,max_precip_30m,max_temp_w_date,max_wind_speed_10min,max_wind_speed_3sec,...,no_ice_days,no_summer_days,no_tropical_nights,pot_evaporation_makkink,pot_evaporation_penman,snow_depth,temp_grass,temp_soil_10,temp_soil_30,vapour_pressure_deficit_mean
to,,,,,,,,,,,,,,,,,,,,,
2011-02-01T00:00:00+01:00,516.2,47.8,71.6,60.8,NaN,NaN,3.9,9.8,22.5,30.4,...,3.31,0.0,NaN,7.7,0.5,NaN,NaN,NaN,NaN,NaN
2011-02-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,127.0,NaN,NaN,NaN,NaN
2011-03-01T00:00:00+01:00,477.9,39.9,51.7,48.4,0.1,NaN,3.0,9.6,29.3,36.5,...,11.37,0.0,NaN,11.3,11.8,NaN,NaN,NaN,NaN,NaN
2011-03-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN
2011-04-01T00:00:00+02:00,433.2,29.9,143.3,29.9,0.4,NaN,3.2,15.3,26.3,32.9,...,NaN,NaN,NaN,34.7,26.2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01T00:00:00+02:00,412.1,4.2,238.6,4.8,2.1,8933.4,6.4,17.2,17.4,25.0,...,0.00,0.0,0.0,48.0,56.9,NaN,3.4,4.0,3.9,0.2
2022-04-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
2022-05-01T00:00:00+02:00,313.3,35.3,249.1,38.8,5.8,8439.4,6.1,19.0,22.7,27.6,...,0.00,0.0,0.0,72.9,106.0,NaN,6.7,5.6,6.3,0.3
2022-05-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN
2022-06-01T00:00:00+02:00,83.2,11.0,86.8,11.7,9.6,3438.0,10.4,21.8,16.2,18.9,...,0.00,0.0,0.0,32.5,44.9,NaN,10.6,10.2,9.4,0.3

In [31]:
df_year.pivot(index="to",columns="parameterId", values="value")

parameterId,acc_heating_degree_days_17,acc_precip,bright_sunshine,corrected_acc_precip,drought_index,leaf_moisture,max_precip_30m,max_temp_w_date,max_wind_speed_10min,max_wind_speed_3sec,...,no_ice_days,no_summer_days,no_tropical_nights,pot_evaporation_makkink,pot_evaporation_penman,snow_depth,temp_grass,temp_soil_10,temp_soil_30,vapour_pressure_deficit_mean
to,,,,,,,,,,,,,,,,,,,,,
2012-01-01T00:00:00+01:00,2979.4,782.7,1680.8,846.7,1.9,NaN,48.0,28.2,30.4,38.2,...,16.02,3.49,NaN,605.6,531.2,NaN,NaN,NaN,NaN,NaN
2013-01-01T00:00:00+01:00,3235.4,819.0,1673.4,890.0,2.0,NaN,40.8,32.9,30.9,39.1,...,NaN,NaN,NaN,602.1,527.0,NaN,NaN,NaN,NaN,NaN
2013-01-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN
2014-01-01T00:00:00+01:00,3208.8,669.0,1780.1,738.3,3.3,NaN,33.4,33.3,39.5,53.5,...,NaN,NaN,NaN,631.5,548.5,NaN,NaN,NaN,NaN,NaN
2014-01-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,43.0,NaN,NaN,NaN,NaN
2015-01-01T00:00:00+01:00,2663.5,819.6,1727.6,891.9,NaN,NaN,50.7,31.7,24.7,34.4,...,NaN,NaN,NaN,647.2,565.3,NaN,10.2,10.5,10.3,NaN
2016-01-01T00:00:00+01:00,2921.8,902.2,1662.2,980.5,2.0,140420.6,31.0,31.9,35.9,45.9,...,NaN,NaN,NaN,608.2,544.1,NaN,9.0,9.6,9.5,NaN
2017-01-01T00:00:00+01:00,2998.9,701.1,1689.7,762.8,NaN,126995.7,45.8,31.6,29.4,37.8,...,NaN,NaN,NaN,617.8,538.3,NaN,8.9,9.6,9.5,NaN
2018-01-01T00:00:00+01:00,2971.4,848.8,1512.2,918.1,1.7,126827.7,36.4,26.8,27.7,38.6,...,NaN,NaN,NaN,585.9,516.3,NaN,8.8,9.5,9.4,NaN
2019-01-01T00:00:00+01:00,2887.5,595.4,1905.0,662.2,3.3,142219.3,37.5,33.6,26.5,34.6,...,13.50,30.43,0.78,691.9,627.8,NaN,9.6,9.9,9.7,0.3
2020-01-01T00:00:00+01:00,2847.3,905.3,1729.3,973.3,3.4,173010.6,40.0,32.8,26.4,36.1,...,2.88,14.93,0.02,624.9,729.4,NaN,9.4,9.8,9.8,0.2
2020-01-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN
2021-01-01T00:00:00+01:00,2714.5,773.0,1819.0,835.6,4.3,167360.3,42.2,32.4,25.1,36.4,...,0.00,16.75,0.01,648.6,814.4,NaN,9.8,10.3,10.1,0.3
2021-01-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2022-01-01T00:00:00+01:00,3098.4,743.9,1640.2,823.4,3.1,131497.4,42.0,34.0,24.1,33.4,...,15.93,9.90,0.03,602.5,662.9,NaN,8.8,9.6,9.4,0.2
2022-01-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN
2023-01-01T00:00:00+01:00,1573.9,223.1,715.9,246.9,2.7,45034.6,10.4,21.8,28.1,37.4,...,0.00,0.00,0.00,176.1,215.7,NaN,4.8,4.9,5.1,0.2
2023-01-01T06:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN

### For all stations

In [21]:
df = pd.read_csv("stations_all.csv")

In [22]:
df.head()

,Unnamed: 0,geometry_type,coordinates,calculatedAt,created,from,to,parameterId,qcStatus,stationId,timeResolution,validity,value,type,ID
0,0,Point,"[11.3292, 54.8275]",2019-02-14T08:37:14.690000+00:00,2022-02-24T17:24:57.842952+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,vapour_pressure_deficit_mean,none,6141,hour,True,0.1,Feature,00306dcf-6150-15fe-e0a1-0693f5b575f0
1,1,Point,"[10.1272, 56.3027]",2014-12-10T23:07:34.568918+00:00,2022-02-24T19:32:19.112369+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,temp_soil_30,none,6072,hour,True,4.4,Feature,00ec3205-c3d8-b3ea-97b4-dbee79ac545b
2,2,Point,"[9.3338, 55.4376]",2018-11-21T01:25:54.259000+00:00,2022-02-24T16:02:04.375301+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,max_temp_w_date,manual,6108,hour,True,0.3,Feature,00f06483-f062-44f6-c332-dfb001213561
3,3,Point,"[11.2787, 56.0083]",2019-02-14T08:37:13.094000+00:00,2022-02-24T17:42:14.729403+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,mean_wind_dir,manual,6169,hour,True,256.0,Feature,011f5735-b7f3-95a9-5e01-453880a45e28
4,4,Point,"[10.5693, 55.0144]",2018-11-21T01:25:54.259000+00:00,2022-02-24T16:03:47.992180+00:00,2014-12-08T23:00:00+00:00,2014-12-09T00:00:00+00:00,max_temp_w_date,manual,6124,hour,True,3.2,Feature,01322ddc-51c3-33a6-07c2-e6328a76da5b

In [23]:
df.describe()

         Unnamed: 0     stationId         value
count  9.036859e+07  9.036859e+07  9.036859e+07
mean   4.518430e+07  5.829185e+03  1.059313e+02
std    2.608717e+07  1.199497e+03  2.646158e+02
min    0.000000e+00  4.203000e+03 -9.000000e+01
25%    2.259215e+07  6.031000e+03  4.000000e-01
50%    4.518430e+07  6.082000e+03  7.100000e+00
75%    6.777644e+07  6.141000e+03  5.700000e+01
max    9.036859e+07  3.433900e+04  1.293260e+04

In [24]:
df.drop("Unnamed: 0",axis=1,inplace=True)
df.drop("geometry_type",axis=1,inplace=True)
df.drop("calculatedAt",axis=1,inplace=True)
df.drop("created",axis=1,inplace=True)
df.drop("from",axis=1,inplace=True)
df.drop("ID",axis=1,inplace=True)
df.drop("type",axis=1,inplace=True)
df.drop("qcStatus",axis=1,inplace=True)
df.drop("validity",axis=1,inplace=True)

In [25]:
df.sort_values(by="to",inplace=True)

In [26]:
df.head()

,coordinates,to,parameterId,stationId,timeResolution,value
52258837,"[9.7872, 55.868]",2011-01-01T00:00:00+00:00,leaf_moisture,6102,hour,0.0
52262637,"[12.1841, 54.879]",2011-01-01T00:00:00+00:00,mean_relative_hum,6147,hour,94.8
52262638,"[11.8605, 55.2075]",2011-01-01T00:00:00+00:00,acc_precip,6154,hour,0.0
52262650,"[9.8882, 55.2444]",2011-01-01T00:00:00+00:00,max_wind_speed_10min,6123,hour,11.7
52262665,"[11.3879, 55.3224]",2011-01-01T00:00:00+00:00,mean_wind_dir,6135,hour,260.0

In [27]:
df.tail()

,coordinates,to,parameterId,stationId,timeResolution,value
54407442,"[-18.6681, 76.7694]",2023-01-01T06:00:00+00:00,min_temp,4320,year,-37.1
54407454,"[-51.7308, 64.1833]",2023-01-01T06:00:00+00:00,mean_daily_min_temp,4250,year,-9.2
54407459,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_cold_days,4208,year,129.0
54407424,"[-50.4058, 62.5789]",2023-01-01T06:00:00+00:00,no_cold_days,4253,year,44.0
54407183,"[-46.0489, 60.7156]",2023-01-01T06:00:00+00:00,mean_vapour_pressure,4272,year,5.2

In [38]:
df.to_csv("stations_processed.csv")

In [28]:
df.timeResolution.unique()

array(['hour', 'day', 'month', 'year'], dtype=object)

In [30]:
df.stationId.unique()

array([ 6102,  6147,  6154,  6123,  6135,  6056,  6159,  6104,  6065,
        6151,  6081,  6188,  6058,  6197,  6124,  6088,  6072,  6136,
        6174,  6141,  5095,  6169,  6170,  6079,  6118,  6019,  6138,
        6156,  6031,  6190,  5075,  6181,  5529,  6074,  6126,  6073,
        6096,  6049,  6119,  6082,  6193,  6052,  6032,  5381,  6180,
        6093,  6051,  6149,  5085,  6068,  6187,  6041,  5505,  6080,
        5169,  5035,  5735,  5070,  6132,  5165,  5220,  6186,  5345,
        6116,  6120,  6168,  5300,  5365,  5455,  5225,  6070,  6108,
        5970,  5135,  5065,  5350,  5009,  5109,  5499,  5290,  5395,
        5105,  5575,  5545,  5450,  5400,  5185,  5986,  5435,  5994,
        5305,  5880,  5015,  5089,  5081,  5935,  5005,  5355,  5150,
        5031,  5269,  5140,  5375,  5469,  5329,  5510,  5889,  5205,
        5320,  5945,  5160,  5440, 23100, 26340, 20670, 27008, 20000,
       23160, 31199, 27082, 25339, 31040, 20085, 31185, 24490, 31570,
       23133, 20030, 29330, 22020, 21020, 22162, 26358, 28240, 29020,
       24142, 20228, 25045, 26210, 32175, 21100, 29243, 31350, 26450,
       21120, 21430, 20600, 30075, 22080, 20400, 28552, 21160, 28590,
       20055, 28385, 22410,  5276, 24043, 21080, 28110, 29194, 31400,
        5272, 20561, 25270,  5202,  5277, 24430, 24380, 24102, 24171,
       30187, 25161, 31259, 30414, 23327, 22232, 22189, 21208, 28280,
       32110,  5537,  5296, 29440,  5343,  5199,  4272,  4242,  4250,
        4330,  4271,  4351,  4208,  4220,  4228,  4214,  4320,  4382,
        4339,  4203,  4266,  4312,  4253,  4285,  4373, 34320, 34270,
        4390,  4301,  4313,  4360, 21368, 34339, 20279,  5406,  5042,
       28032, 20552, 31509, 20315, 30215,  5408, 20375, 23360, 28188])

In [31]:
df.coordinates.unique()

array(['[9.7872, 55.868]', '[12.1841, 54.879]', '[11.8605, 55.2075]',
       '[9.8882, 55.2444]', '[11.3879, 55.3224]', '[8.6705, 56.383]',
       '[10.8694, 55.7435]', '[9.1674, 55.7379]', '[9.5067, 56.7558]',
       '[11.1348, 55.1593]', '[8.0828, 55.5575]', '[12.4121, 55.8764]',
       '[8.1413, 56.0072]', '[15.0953, 55.0557]', '[10.5693, 55.0144]',
       '[8.4, 55.4484]', '[10.1272, 56.3027]', '[11.3285, 55.2465]',
       '[12.149, 55.3955]', '[11.3292, 54.8275]', '[8.3774, 56.9514]',
       '[11.2787, 56.0083]', '[12.1366, 55.5867]', '[11.5098, 56.7169]',
       '[9.793, 54.9616]', '[8.6412, 56.93]', '[10.9939, 54.8205]',
       '[11.6035, 55.7358]', '[9.9527, 57.1852]', '[14.7494, 55.0677]',
       '[9.7204, 56.6646]', '[12.5263, 55.7664]', '[11.3309, 55.7521]',
       '[10.1353, 56.0803]', '[10.4398, 55.3088]', '[10.5135, 56.0955]',
       '[8.5599, 55.1904]', '[10.0929, 56.5604]', '[9.988, 54.8528]',
       '[8.6242, 55.9591]', '[14.7718, 55.2979]', '[8.215, 56.7068]',
       '[10.3349, 57.3828]', '[9.2058, 55.147]', '[12.6455, 55.614]',
       '[8.6551, 55.2908]', '[8.3207, 56.7637]', '[11.9435, 54.5687]',
       '[9.2889, 57.0143]', '[9.1811, 56.0939]', '[12.5985, 55.6886]',
       '[10.6316, 57.7364]', '[11.709, 55.5633]', '[8.5626, 55.5281]',
       '[10.2535, 55.9126]', '[10.471, 57.2215]', '[12.5742, 55.6878]',
       '[10.1644, 56.7157]', '[10.6217, 55.8315]', '[10.6185, 55.8322]',
       '[9.9962, 55.7102]', '[12.5439, 55.6861]', '[8.7433, 55.3286]',
       '[9.1229, 54.8986]', '[10.3305, 55.4749]', '[12.3424, 56.1193]',
       '[8.1659, 56.2604]', '[9.4092, 54.9377]', '[10.7234, 54.9463]',
       '[9.5533, 55.8314]', '[10.6254, 56.3083]', '[9.3338, 55.4376]',
       '[11.3515, 54.6573]', '[9.6213, 56.2763]', '[9.8247, 56.8136]',
       '[8.8326, 55.0561]', '[9.7607, 57.4185]', '[9.0945, 56.7637]',
       '[11.8623, 55.4069]', '[8.5476, 56.6553]', '[9.6684, 55.2555]',
       '[8.7296, 56.8334]', '[12.292, 56.0428]', '[11.6053, 55.8689]',
       '[10.7094, 54.7567]', '[9.8949, 55.4927]', '[9.7877, 56.1496]',
       '[12.4538, 54.9922]', '[10.1025, 55.0977]', '[14.9683, 55.163]',
       '[8.4716, 56.1828]', '[12.4223, 55.2932]', '[10.2704, 57.4029]',
       '[8.9649, 57.1518]', '[9.4041, 56.879]', '[11.8285, 55.0983]',
       '[10.1074, 57.5705]', '[8.6652, 54.9872]', '[10.4403, 56.5062]',
       '[11.0292, 57.2746]', '[9.0163, 55.8528]', '[10.1004, 56.5665]',
       '[9.6811, 55.0646]', '[10.7279, 55.3041]', '[8.3425, 55.7199]',
       '[11.238, 55.5271]', '[12.098, 55.2075]', '[9.7022, 55.961]',
       '[8.6933, 55.7246]', '[11.5336, 54.9798]', '[10.5466, 56.1103]',
       '[10.4211, 55.0741]', '[9.7021, 55.961]', nan,
       '[10.6318, 57.7363]', '[11.8285, 55.0984]', '[10.0983, 56.5664]',
       '[10.7279, 55.3042]', '[9.2057, 55.147]', '[12.2918, 56.0428]',
       '[9.0162, 55.8528]', '[8.3769, 56.951]', '[8.8327, 55.0562]',
       '[8.6933, 55.7247]', '[10.2565, 55.9117]', '[12.4537, 54.9923]',
       '[11.8285, 55.0987]', '[11.8621, 55.4069]', '[12.0981, 55.2076]',
       '[9.1594, 56.0372]', '[12.2918, 56.0429]', '[11.3374, 55.7489]',
       '[11.2383, 55.5266]', '[8.7436, 55.329]', '[9.68, 55.0646]',
       '[9.4116, 54.9316]', '[10.1073, 57.5705]', '[12.0979, 55.2074]',
       '[9.7876, 56.1496]', '[11.2379, 55.5271]', '[9.8948, 55.4927]',
       '[11.1541, 54.826]', '[9.0946, 56.7637]', '[9.0162, 55.8527]',
       '[10.7234, 54.9462]', '[9.6256, 56.2761]', '[10.4708, 57.2214]',
       '[10.1645, 56.7157]', '[9.7608, 57.4185]', '[10.1024, 55.0977]',
       '[10.2705, 57.4029]', '[9.1168, 55.9654]', '[8.6932, 55.7246]',
       '[8.1653, 56.2601]', '[10.4249, 55.0721]', '[10.1009, 55.0978]',
       '[9.7012, 56.6509]', '[9.8245, 56.814]', '[9.5531, 55.8311]',
       '[9.8953, 55.4935]', '[12.4218, 55.2931]', '[11.862, 55.4069]',
       '[9.3768, 55.9603]', '[8.9854, 56.0626]', '[8.9855, 56.0627]',
       '[8.6196, 55.9571]', '[8.4863, 56.184]', '[8.5231, 55.5213]',
       '[11.3405, 54.8073]', '[12.0747, 55.6343]', '[9.4847, 55.4716]',
       '[10.1292, 56.308]', '[10.6619, 56.3037]', '[14.8205, 55.1069]',
       '[11.4942, 55.6366]', '[11.5336, 54.98]', '[8.1465, 56.5032]',
       '[12.5739, 55.6877]', '[12.444, 54.9963]', '[12.4115, 55.8796]',
       '[8.3327, 55.723]', '[11.3284, 55.2465]', '[8.9036, 55.4929]',
       '[10.3304, 55.4748]', '[9.3298, 56.0761]', '[-46.0489, 60.7156]',
       '[-52.5286, 65.0131]', '[-51.7308, 64.1833]',
       '[-20.2169, 74.3075]', '[-45.44, 61.1575]', '[-32.2842, 67.7817]',
       '[-57.7231, 74.0606]', '[-52.8517, 68.7081]', '[-53.965, 67.7842]',
       '[-54.6, 70.6561]', '[-18.6681, 76.7694]', '[-42.0678, 61.9364]',
       '[-21.9511, 70.4844]', '[-73.1208, 76.7333]',
       '[-48.4544, 60.7636]', '[-16.6633, 81.6033]',
       '[-50.4058, 62.5789]', '[-45.1461, 59.9911]',
       '[-40.3017, 64.7819]', '[-43.1653, 60.0553]',
       '[-33.3739, 83.6561]', '[-13.7119, 80.6494]',
       '[-37.6367, 65.6111]', '[9.1139, 56.2934]', '[9.1916, 56.5446]',
       '[9.2877, 57.0143]', '[10.2275, 56.9556]', '[10.393, 55.5815]',
       '[10.2232, 56.9564]', '[9.0906, 55.471]', '[9.5059, 56.7575]',
       '[8.4712, 56.1826]', '[9.7875, 56.1496]', '[11.6064, 55.8687]',
       '[11.6064, 55.8686]', '[10.728, 55.3041]', '[11.4935, 55.639]',
       '[11.9101, 54.7926]', '[10.0351, 57.0105]', '[12.5622, 55.7161]',
       '[8.7297, 56.8334]', '[12.5768, 55.6858]', '[14.97, 55.1635]',
       '[8.6201, 56.3534]', '[12.0424, 55.6429]', '[8.5112, 55.9126]',
       '[11.9315, 54.779]', '[10.438, 55.3257]', '[9.5253, 57.0945]',
       '[12.245, 54.9595]', '[9.4715, 55.2561]', '[10.3412, 55.5677]',
       '[9.6315, 56.2745]', '[10.7618, 55.3474]', '[11.2341, 55.5184]',
       '[8.4795, 56.1789]', '[8.511, 55.9114]', '[8.4871, 56.1837]',
       '[12.24, 54.96]', '[11.8648, 55.4026]', '[9.7612, 57.4219]',
       '[10.3063, 55.4392]'], dtype=object)

In [35]:
df.to.unique()

array(['2011-01-01T00:00:00+00:00', '2011-01-01T01:00:00+00:00',
       '2011-01-01T02:00:00+00:00', ..., '2022-06-01T06:00:00+00:00',
       '2023-01-01T00:00:00+01:00', '2023-01-01T06:00:00+00:00'],
      dtype=object)

In [32]:
df.drop("stationId",axis=1,inplace=True)

In [33]:
df_hour = df.loc[df["timeResolution"]=="hour"]
df_day = df.loc[df["timeResolution"]=="day"]
df_month = df.loc[df["timeResolution"]=="month"]
df_year = df.loc[df["timeResolution"]=="year"]

In [37]:
df_hour.pivot(index=["to","coordinates"],columns=["parameterId"], values="value")

parameterId                                   acc_precip  acc_precip_past12h  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]         NaN                 NaN
                          [10.1004, 56.5665]         1.0                 NaN
                          [10.1025, 55.0977]         0.0                 NaN
                          [10.1074, 57.5705]         0.0                 NaN
                          [10.1272, 56.3027]         0.5                 NaN
...                                                  ...                 ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]          NaN                 NaN
                          [9.8953, 55.4935]          0.0                 NaN
                          [9.9527, 57.1852]          0.0                 NaN
                          [9.988, 54.8528]           0.0                 NaN
                          [9.9962, 55.7102]          0.0                 NaN

parameterId                                   acc_precip_past24h  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]                 NaN
                          [10.1004, 56.5665]                 NaN
                          [10.1025, 55.0977]                 NaN
                          [10.1074, 57.5705]                 NaN
                          [10.1272, 56.3027]                 NaN
...                                                          ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]                  NaN
                          [9.8953, 55.4935]                  NaN
                          [9.9527, 57.1852]                  NaN
                          [9.988, 54.8528]                   NaN
                          [9.9962, 55.7102]                  NaN

parameterId                                   bright_sunshine  leaf_moisture  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]              NaN            NaN
                          [10.1004, 56.5665]              NaN            NaN
                          [10.1025, 55.0977]              NaN            NaN
                          [10.1074, 57.5705]              NaN            NaN
                          [10.1272, 56.3027]              0.0           60.0
...                                                       ...            ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]              54.0            NaN
                          [9.8953, 55.4935]               NaN            NaN
                          [9.9527, 57.1852]              57.0            0.0
                          [9.988, 54.8528]                NaN            NaN
                          [9.9962, 55.7102]               NaN            NaN

parameterId                                   max_temp_12h  max_temp_w_date  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]           NaN              4.0
                          [10.1004, 56.5665]           NaN              NaN
                          [10.1025, 55.0977]           NaN              NaN
                          [10.1074, 57.5705]           NaN              NaN
                          [10.1272, 56.3027]           NaN              4.6
...                                                    ...              ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]            NaN             13.8
                          [9.8953, 55.4935]            NaN              NaN
                          [9.9527, 57.1852]            NaN             12.3
                          [9.988, 54.8528]             NaN             14.4
                          [9.9962, 55.7102]            NaN              NaN

parameterId                                   max_wind_speed_10min  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]                  18.7
                          [10.1004, 56.5665]                   NaN
                          [10.1025, 55.0977]                   NaN
                          [10.1074, 57.5705]                   NaN
                          [10.1272, 56.3027]                  13.1
...                                                            ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]                    9.2
                          [9.8953, 55.4935]                    NaN
                          [9.9527, 57.1852]                    8.7
                          [9.988, 54.8528]                    10.2
                          [9.9962, 55.7102]                    NaN

parameterId                                   max_wind_speed_3sec  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]                 27.4
                          [10.1004, 56.5665]                  NaN
                          [10.1025, 55.0977]                  NaN
                          [10.1074, 57.5705]                  NaN
                          [10.1272, 56.3027]                 22.4
...                                                           ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]                  11.6
                          [9.8953, 55.4935]                   NaN
                          [9.9527, 57.1852]                  12.3
                          [9.988, 54.8528]                   14.1
                          [9.9962, 55.7102]                   NaN

parameterId                                   mean_cloud_cover  ...  \
to                        coordinates                           ...
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]               NaN  ...
                          [10.1004, 56.5665]               NaN  ...
                          [10.1025, 55.0977]               NaN  ...
                          [10.1074, 57.5705]               NaN  ...
                          [10.1272, 56.3027]               NaN  ...
...                                                        ...  ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]                NaN  ...
                          [9.8953, 55.4935]                NaN  ...
                          [9.9527, 57.1852]                NaN  ...
                          [9.988, 54.8528]                 NaN  ...
                          [9.9962, 55.7102]                NaN  ...

parameterId                                   mean_temp  mean_wind_dir  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]        3.6          287.0
                          [10.1004, 56.5665]        NaN            NaN
                          [10.1025, 55.0977]        NaN            NaN
                          [10.1074, 57.5705]        NaN            NaN
                          [10.1272, 56.3027]        4.3          283.0
...                                                 ...            ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]        13.3          282.0
                          [9.8953, 55.4935]         NaN            NaN
                          [9.9527, 57.1852]        11.9          281.0
                          [9.988, 54.8528]         14.1          266.0
                          [9.9962, 55.7102]         NaN            NaN

parameterId                                   mean_wind_dir_min0  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]                 NaN
                          [10.1004, 56.5665]                 NaN
                          [10.1025, 55.0977]                 NaN
                          [10.1074, 57.5705]                 NaN
                          [10.1272, 56.3027]                 NaN
...                                                          ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]                  NaN
                          [9.8953, 55.4935]                  NaN
                          [9.9527, 57.1852]                  NaN
                          [9.988, 54.8528]                   NaN
                          [9.9962, 55.7102]                  NaN

parameterId                                   mean_wind_speed  min_temp  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]             15.1       3.0
                          [10.1004, 56.5665]              NaN       NaN
                          [10.1025, 55.0977]              NaN       NaN
                          [10.1074, 57.5705]              NaN       NaN
                          [10.1272, 56.3027]              9.9       3.9
...                                                       ...       ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]               8.2      13.0
                          [9.8953, 55.4935]               NaN       NaN
                          [9.9527, 57.1852]               7.9      11.6
                          [9.988, 54.8528]                9.1      13.7
                          [9.9962, 55.7102]               NaN       NaN

parameterId                                   min_temperature_12h  temp_grass  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]                  NaN         NaN
                          [10.1004, 56.5665]                  NaN         NaN
                          [10.1025, 55.0977]                  NaN         NaN
                          [10.1074, 57.5705]                  NaN         NaN
                          [10.1272, 56.3027]                  NaN         3.1
...                                                           ...         ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]                   NaN         NaN
                          [9.8953, 55.4935]                   NaN         NaN
                          [9.9527, 57.1852]                   NaN        13.3
                          [9.988, 54.8528]                    NaN         NaN
                          [9.9962, 55.7102]                   NaN         NaN

parameterId                                   temp_soil_10  temp_soil_30  \
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]           NaN           NaN
                          [10.1004, 56.5665]           NaN           NaN
                          [10.1025, 55.0977]           NaN           NaN
                          [10.1074, 57.5705]           NaN           NaN
                          [10.1272, 56.3027]           0.3           0.9
...                                                    ...           ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]            NaN           NaN
                          [9.8953, 55.4935]            NaN           NaN
                          [9.9527, 57.1852]            9.7           8.8
                          [9.988, 54.8528]             NaN           NaN
                          [9.9962, 55.7102]            NaN           NaN

parameterId                                   vapour_pressure_deficit_mean
to                        coordinates
2011-01-01T00:00:00+00:00 [10.0929, 56.5604]                           0.1
                          [10.1004, 56.5665]                           NaN
                          [10.1025, 55.0977]                           NaN
                          [10.1074, 57.5705]                           NaN
                          [10.1272, 56.3027]                           0.1
...                                                                    ...
2022-05-12T17:00:00+00:00 [9.8882, 55.2444]                            0.5
                          [9.8953, 55.4935]                            NaN
                          [9.9527, 57.1852]                            0.5
                          [9.988, 54.8528]                             0.5
                          [9.9962, 55.7102]                            NaN

[13484468 rows x 23 columns]